.myInput {
    display: block;
    width: 245px;
    margin-bottom: 15px;
    padding: 5.7px;
    border: 1.5px solid rgb(187, 38, 73);
    border-radius: 0;
}
.myInput::-webkit-inner-spin-button,
.myInput::-webkit-outer-spin-button 
{
    appearance: none;
}