.footer {
    background-color: rgb(187, 38, 73);
    padding: 25px 0;
}
.footer-items,
.footer-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 51px;
    padding: 5px;
}
.footer-socials img {
    width: 45px;
    height: 45px;
}
.footer-items__link {
    color: #f6f6f6;
    font-weight: 500;
}
.footer-items__link:hover {
    color:#fff;
}