.section {
    padding: 5px;
}
.comment {
    padding: 8px 6px;
    border: 1.5px solid #BB2649;
    transition: all 0.2s;
}
.comment:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.comment__title {
    font-size: 21px;
    font-weight: 600;
}
.comment__text {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.4;
}